<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <style type="text/css">
        body { color: #efd; background: #453; padding: 0 5em; margin: 0; font-size: 80%;size:12px;font-family: sans-serif, serif; }
        h1 { padding: 1em 0.5em; background: #675;  }
        h2 { color: #bf8; border-top: 1.5px; margin-top: 1em }
        p { margin: 0.5em 0 }
        input {display:block; border:1px solid black}
        table.noframe, table.noframe td{border:0}
        .curuser {
            color: #0f0;
        }
    </style>
</head>
<body>
    <div class="curuser">Welcome {{ curuser }} ({{ is_authenticated }})</div>
    {% block content %}
    {% endblock %}
</body>
</html>